.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px  ;
    box-sizing: border-box;
    border-top: 1px solid   rgba(48, 45, 45, 0.2);

}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link{
    position: relative;
    color: #2e363e;
}


.nav__notification {
    position: absolute;
    left: 15px;
    top: -20px;
    font-size: medium;
}

.nav__newmark{
    display: flex;
    background-color: tomato;
    font-size: 5px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    right: -10px;
    top: -12px;
    
}